<form action="<%=url%>" method="POST">
    <%=auth_token_helper%>
    <label>
        User name
        <input type="text" name="user[user_name]" value="<%=user.user_name%>"
    </label>
    <label>
        Password
        <input type="text" name="user[password]">
    </label>
    <input type="submit" value="<%=submit_text%>"
</form>