<%= render "users/header" %>
<% if @subs.empty? %>
    <p> No subs found </p> 
<% else %>
    <h1> All subs </h1>
<% end %>

<form action="<%= subs_url %>" method= "GET">
    <%= auth_token_helper %>
    <label>
        Search sub 
        <input type="text" name="sub[title]" placeholder="sub name">
    </label>
    <input type="submit" value="search">
</form>
    
<% @subs.each do |sub| %>
    <%= link_to sub.title, sub_url(sub)%>
<%end%>
