<%= comment.author.user_name %>
<%= comment.created_at %>
<%= link_to comment.content, comment_url(comment) %>
<ul>
    <% all_comments[comment.id].each do |child_comment| %>
        <li> 
            <%= render 'comment', comment: child_comment, all_comments: all_comments %>
        </li>    
    <% end %>
</ul> 